pipeline/Retail Sales ETL.json
{
	"name": "Retail Sales ETL",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_backenddata_customers",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('Get Metadata1').output.childItems[0].name, formatDateTime(utcNow(), 'yyyy_MM_dd'))\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "CustomerFile",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_backenddata_customers",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_raw",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['SaleID']"
								},
								"sink": {
									"name": "SaleID",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['CustomerID']"
								},
								"sink": {
									"name": "CustomerID",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['ProductID']"
								},
								"sink": {
									"name": "ProductID",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['SaleDate']"
								},
								"sink": {
									"name": "SaleDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Quantity']"
								},
								"sink": {
									"name": "Quantity",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['TotalAmount']"
								},
								"sink": {
									"name": "TotalAmount",
									"type": "Decimal"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_RestAPI",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_raw_json",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"CustomerFile": {
				"type": "String"
			}
		},
		"annotations": []
	}
}