Retail-Sales-ADF/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Retail-Sales-ADF"
		},
		"ls_RestAPI_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com"
		},
		"ls_backenddataadls_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://backenddataadls.blob.core.windows.net/"
		},
		"ls_backenddataadls_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "ff05faeb-f1fd-4af8-9f9f-5541837df902"
		},
		"ls_backenddataadls_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "ab3ae891-c481-4711-b60f-e10e84c3da24"
		},
		"ls_op_sql_server_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ARUN"
		},
		"ls_op_sql_server_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "Retail_Sales"
		},
		"ls_op_sql_server_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "arun"
		},
		"ls_retail_sales_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "retailsalesserver.database.windows.net"
		},
		"ls_retail_sales_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "retail_sales"
		},
		"ls_retail_sales_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "arun"
		},
		"ls_retail_sales_kv_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://retail-sales-kv.vault.azure.net/"
		},
		"ls_retailsalesadlsgen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://salesretailadls.dfs.core.windows.net/"
		},
		"ls_retailsalesadlsgen2_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "ff05faeb-f1fd-4af8-9f9f-5541837df902"
		},
		"ls_retailsalesadlsgen2_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "ab3ae891-c481-4711-b60f-e10e84c3da24"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/sales data to raw')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['SaleID']"
										},
										"sink": {
											"name": "SaleID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['CustomerID']"
										},
										"sink": {
											"name": "CustomerID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['ProductID']"
										},
										"sink": {
											"name": "ProductID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['SaleDate']"
										},
										"sink": {
											"name": "SaleDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Quantity']"
										},
										"sink": {
											"name": "Quantity",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['TotalAmount']"
										},
										"sink": {
											"name": "TotalAmount",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_RestAPI",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw_sales",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_RestAPI')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_sales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sales retail ETL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_customers_backend",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@contains(item().name, formatDateTime(utcNow(),'yyyy_MM_dd'))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Set variable1",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "date",
													"value": {
														"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
														"type": "Expression"
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@concat('customers_', formatDateTime(utcNow(), 'yyyy_MM_dd'), '.csv')\n",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings",
															"copyBehavior": "PreserveHierarchy"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".csv"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_customers_backend",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_raw_customers",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_op_products",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "raw to silver",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy data2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "raw to silver",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sales": {},
									"products": {},
									"Customers": {},
									"sink1": {},
									"sink2": {},
									"sink3": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "silver to gold",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "raw to silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "silver to gold",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sales": {},
									"products": {},
									"customers": {},
									"RevenuePerProduct": {},
									"ProductPerformance": {},
									"TopCustomers": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_customers_backend')]",
				"[concat(variables('factoryId'), '/datasets/ds_op_products')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw')]",
				"[concat(variables('factoryId'), '/dataflows/raw to silver')]",
				"[concat(variables('factoryId'), '/dataflows/silver to gold')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_customers')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_RestAPI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_RestAPI",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "Arunkumar-Senthilkumar/Retail-Sales-ETL/refs/heads/main/sales.json"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_RestAPI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_customers_backend')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_backenddataadls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CustomerID",
						"type": "String"
					},
					{
						"name": "CustomerName",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Phone",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_backenddataadls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_customers_silver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_retailsalesadlsgen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "customers",
						"fileSystem": "silver"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_retailsalesadlsgen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_customers_silver_2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_retailsalesadlsgen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "customers",
						"fileSystem": "silver"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_retailsalesadlsgen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_op_products')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_op_sql_server",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ProductID",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "ProductName",
						"type": "varchar"
					},
					{
						"name": "Category",
						"type": "varchar"
					},
					{
						"name": "Price",
						"type": "decimal",
						"precision": 28,
						"scale": 0
					},
					{
						"name": "StockQuantity",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "products"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_op_sql_server')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_productPerformance')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_retail_sales",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProductId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductName",
						"type": "varchar"
					},
					{
						"name": "Category",
						"type": "varchar"
					},
					{
						"name": "StockQuantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TotalQuantitySold",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RemainingStockQuantity",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ProductPerformance"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_retail_sales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_products_silver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_retailsalesadlsgen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "products",
						"fileSystem": "silver"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_retailsalesadlsgen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_retailsalesadlsgen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "products.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CustomerID",
						"type": "String"
					},
					{
						"name": "CustomerName",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Phone",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_retailsalesadlsgen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_customers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_retailsalesadlsgen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('customers_', formatDateTime(utcNow(), 'yyyy_MM_dd'), '.csv')\n",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SaleID",
						"type": "String"
					},
					{
						"name": "CustomerID",
						"type": "String"
					},
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "SaleDate",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "TotalAmount",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_retailsalesadlsgen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_products')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_retailsalesadlsgen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "products.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					},
					{
						"name": "StockQuantity",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_retailsalesadlsgen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_sales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_retailsalesadlsgen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "sales.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CustomerID",
						"type": "String"
					},
					{
						"name": "CustomerName",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Phone",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_retailsalesadlsgen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sales_silver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_retailsalesadlsgen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "sales",
						"fileSystem": "silver"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_retailsalesadlsgen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_topcustomer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_retail_sales",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerName",
						"type": "varchar"
					},
					{
						"name": "TotalAmount",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "rank",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TopCustomers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_retail_sales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_RestAPI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('ls_RestAPI_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_backenddataadls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('ls_backenddataadls_properties_typeProperties_serviceEndpoint')]",
					"tenant": "[parameters('ls_backenddataadls_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('ls_backenddataadls_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_retail_sales_kv",
							"type": "LinkedServiceReference"
						},
						"secretName": "retail-secret"
					},
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_retail_sales_kv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_op_sql_server')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_op_sql_server_properties_typeProperties_server')]",
					"database": "[parameters('ls_op_sql_server_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_op_sql_server_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_retail_sales_kv",
							"type": "LinkedServiceReference"
						},
						"secretName": "op-ss-arunkumar-psw"
					}
				},
				"connectVia": {
					"referenceName": "IR-Retail-SQL-Server",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IR-Retail-SQL-Server')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_retail_sales_kv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_retail_sales')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_retail_sales_properties_typeProperties_server')]",
					"database": "[parameters('ls_retail_sales_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_retail_sales_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_retail_sales_kv",
							"type": "LinkedServiceReference"
						},
						"secretName": "op-ss-arunkumar-psw"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_retail_sales_kv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_retail_sales_kv')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_retail_sales_kv_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_retailsalesadlsgen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_retailsalesadlsgen2_properties_typeProperties_url')]",
					"tenant": "[parameters('ls_retailsalesadlsgen2_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('ls_retailsalesadlsgen2_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_retail_sales_kv",
							"type": "LinkedServiceReference"
						},
						"secretName": "retail-secret"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_retail_sales_kv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tumbling_trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "sales data to raw",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 8,
					"startTime": "2025-03-12T22:45:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/sales data to raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR-Retail-SQL-Server')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw to silver')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_raw_sales",
								"type": "DatasetReference"
							},
							"name": "sales"
						},
						{
							"dataset": {
								"referenceName": "ds_raw_products",
								"type": "DatasetReference"
							},
							"name": "products"
						},
						{
							"dataset": {
								"referenceName": "ds_raw_customers",
								"type": "DatasetReference"
							},
							"name": "Customers"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sales_silver",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "ds_products_silver",
								"type": "DatasetReference"
							},
							"name": "sink2"
						},
						{
							"dataset": {
								"referenceName": "ds_customers_silver",
								"type": "DatasetReference"
							},
							"name": "sink3"
						}
					],
					"transformations": [
						{
							"name": "filter1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "filter2"
						},
						{
							"name": "derivedColumn2"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "join1"
						},
						{
							"name": "derivedColumn3"
						},
						{
							"name": "filter3"
						},
						{
							"name": "derivedColumn4"
						}
					],
					"scriptLines": [
						"source(output(",
						"          SaleID as integer,",
						"          CustomerID as integer,",
						"          ProductID as integer,",
						"          SaleDate as date,",
						"          Quantity as integer,",
						"          TotalAmount as decimal(10,2)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> sales",
						"source(output(",
						"          ProductID as integer,",
						"          ProductName as string,",
						"          Category as string,",
						"          Price as decimal(10,2),",
						"          StockQuantity as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> products",
						"source(output(",
						"          CustomerID as integer,",
						"          CustomerName as string,",
						"          Email as string,",
						"          Phone as string,",
						"          City as string,",
						"          Country as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Customers",
						"sales filter(!isNull(SaleID) && !isNull(CustomerID)) ~> filter1",
						"filter1 derive(ProductID = iif(isNull(ProductID), 0, ProductID),",
						"          SaleDate = iif(isNull(SaleDate), toDate('2025-03-14', 'yyyy-MM-dd'), SaleDate),",
						"          Quantity = iif(isNull(Quantity),0,Quantity),",
						"          TotalAmount = iif(isNull(TotalAmount),toDecimal(0,10,2),TotalAmount)) ~> derivedColumn1",
						"products filter(and(!isNull(ProductID), ProductID != 0)) ~> filter2",
						"filter2 derive(Category = iif(isNull(Category),\"unknown\",Category),",
						"          StockQuantity = iif(StockQuantity==\"None\",\"0\",StockQuantity)) ~> derivedColumn2",
						"derivedColumn2 aggregate(groupBy(Category),",
						"     AvgCategoryPrice = toDecimal(avg(toInteger(Price)),10,2),",
						"          AvgStockQuantity = toInteger(avg(toInteger(StockQuantity)))) ~> aggregate1",
						"aggregate1, derivedColumn2 join(aggregate1@Category == derivedColumn2@Category,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1 derive(Price = iif(Price==toDecimal(0, 10,2),AvgCategoryPrice,Price),",
						"          StockQuantity = iif(StockQuantity==toString(0),toString(AvgStockQuantity),StockQuantity)) ~> derivedColumn3",
						"Customers filter(!isNull(CustomerID)) ~> filter3",
						"filter3 derive(CustomerName = iif(isNull(CustomerName),\"Unknown\",CustomerName)) ~> derivedColumn4",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     truncate: true,",
						"     umask: 0222,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          SaleID,",
						"          CustomerID,",
						"          ProductID,",
						"          SaleDate,",
						"          Quantity,",
						"          TotalAmount",
						"     )) ~> sink1",
						"derivedColumn3 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     truncate: true,",
						"     umask: 0222,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          ProductID,",
						"          ProductName,",
						"          Category = derivedColumn2@Category,",
						"          Price,",
						"          StockQuantity",
						"     )) ~> sink2",
						"derivedColumn4 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:[(concat('customers_', toString(toDate(currentTimestamp()), 'yyyy_MM_dd'), '.csv'))],",
						"     umask: 0222,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          CustomerID,",
						"          CustomerName,",
						"          Email,",
						"          Phone,",
						"          City,",
						"          Country",
						"     ),",
						"     partitionBy('hash', 1)) ~> sink3"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_raw_sales')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_products')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_customers')]",
				"[concat(variables('factoryId'), '/datasets/ds_sales_silver')]",
				"[concat(variables('factoryId'), '/datasets/ds_products_silver')]",
				"[concat(variables('factoryId'), '/datasets/ds_customers_silver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver to gold')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sales_silver",
								"type": "DatasetReference"
							},
							"name": "sales"
						},
						{
							"dataset": {
								"referenceName": "ds_products_silver",
								"type": "DatasetReference"
							},
							"name": "products"
						},
						{
							"dataset": {
								"referenceName": "ds_customers_silver_2",
								"type": "DatasetReference"
							},
							"name": "customers"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_RevenuePerProduct",
								"type": "DatasetReference"
							},
							"name": "RevenuePerProduct"
						},
						{
							"dataset": {
								"referenceName": "ds_productPerformance",
								"type": "DatasetReference"
							},
							"name": "ProductPerformance"
						},
						{
							"dataset": {
								"referenceName": "ds_topcustomer",
								"type": "DatasetReference"
							},
							"name": "TopCustomers"
						}
					],
					"transformations": [
						{
							"name": "join1"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "join2"
						},
						{
							"name": "aggregate2"
						},
						{
							"name": "sort1"
						},
						{
							"name": "rank1"
						},
						{
							"name": "filter1"
						},
						{
							"name": "join3"
						},
						{
							"name": "aggregate3"
						},
						{
							"name": "aggregate4"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "AlterRow1"
						},
						{
							"name": "AlterRow2"
						},
						{
							"name": "AlterRow3"
						}
					],
					"scriptLines": [
						"source(output(",
						"          SaleID as integer,",
						"          CustomerID as integer,",
						"          ProductID as integer,",
						"          SaleDate as date,",
						"          Quantity as integer,",
						"          TotalAmount as decimal(10,2)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> sales",
						"source(output(",
						"          ProductID as integer,",
						"          ProductName as string,",
						"          Category as string,",
						"          Price as decimal(10,2),",
						"          StockQuantity as short",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> products",
						"source(output(",
						"          CustomerID as integer,",
						"          CustomerName as string,",
						"          Email as string,",
						"          Phone as string,",
						"          City as string,",
						"          Country as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> customers",
						"sales, products join(sales@ProductID == products@ProductID,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1 aggregate(groupBy(products@ProductID),",
						"     TotalProductSalesAmount = sum(TotalAmount),",
						"          TotalSalesCount = toInteger(count(SaleID)),",
						"          ProductName = first(ProductName),",
						"          Category = first(Category),",
						"          Price = first(Price),",
						"          StockQuantity = first(StockQuantity)) ~> aggregate1",
						"aggregate4, sales join(aggregate4@CustomerID == sales@CustomerID,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join2",
						"join2 aggregate(groupBy(sales@CustomerID),",
						"     TotalAmount = sum(TotalAmount),",
						"          CustomerName = first(CustomerName),",
						"          Email = first(Email),",
						"          Phone = first(Phone)) ~> aggregate2",
						"aggregate2 sort(desc(TotalAmount, false)) ~> sort1",
						"sort1 rank(desc(TotalAmount, true),",
						"     output(rank as long),",
						"     dense: true) ~> rank1",
						"rank1 filter(rank<=6) ~> filter1",
						"products, sales join(products@ProductID == sales@ProductID,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join3",
						"join3 aggregate(groupBy(products@ProductID),",
						"     TotalQuantitySold = toInteger(sum(Quantity)),",
						"          StockQuantity = first(StockQuantity),",
						"          ProductName = first(ProductName),",
						"          Category = first(Category),",
						"          Price = first(Price),",
						"          Quantity = first(Quantity)) ~> aggregate3",
						"customers aggregate(groupBy(CustomerID),",
						"     each(match(name!='CustomerID'), $$ = first($$))) ~> aggregate4",
						"aggregate3 derive(RemainingStockQuantity = toInteger(StockQuantity-TotalQuantitySold)) ~> derivedColumn1",
						"aggregate1 alterRow(upsertIf(iif(isNull(ProductID),true(),false()))) ~> AlterRow1",
						"derivedColumn1 alterRow(upsertIf(iif(isNull(ProductID),true(),false()))) ~> AlterRow2",
						"filter1 alterRow(upsertIf(iif(isNull(CustomerID),true(),false()))) ~> AlterRow3",
						"AlterRow1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ProductID as integer,",
						"          ProductName as string,",
						"          Category as string,",
						"          Price as decimal(10,2),",
						"          TotalProductSalesAmount as decimal(10,2),",
						"          TotalSalesCount as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['ProductID'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          ProductID,",
						"          TotalProductSalesAmount,",
						"          TotalSalesCount,",
						"          ProductName,",
						"          Category,",
						"          Price",
						"     )) ~> RevenuePerProduct",
						"AlterRow2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ProductId as integer,",
						"          ProductName as string,",
						"          Category as string,",
						"          StockQuantity as integer,",
						"          TotalQuantitySold as integer,",
						"          RemainingStockQuantity as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['ProductId'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          ProductId = ProductID,",
						"          ProductName,",
						"          Category,",
						"          StockQuantity,",
						"          TotalQuantitySold,",
						"          RemainingStockQuantity",
						"     )) ~> ProductPerformance",
						"AlterRow3 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CustomerID as integer,",
						"          CustomerName as string,",
						"          TotalAmount as decimal(10,2),",
						"          rank as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['CustomerID'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          CustomerID,",
						"          CustomerName,",
						"          TotalAmount,",
						"          rank",
						"     )) ~> TopCustomers"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sales_silver')]",
				"[concat(variables('factoryId'), '/datasets/ds_products_silver')]",
				"[concat(variables('factoryId'), '/datasets/ds_customers_silver_2')]",
				"[concat(variables('factoryId'), '/datasets/ds_RevenuePerProduct')]",
				"[concat(variables('factoryId'), '/datasets/ds_productPerformance')]",
				"[concat(variables('factoryId'), '/datasets/ds_topcustomer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_RevenuePerProduct')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_retail_sales",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductName",
						"type": "varchar"
					},
					{
						"name": "Category",
						"type": "varchar"
					},
					{
						"name": "Price",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "TotalProductSalesAmount",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "TotalSalesCount",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "RevenuePerProduct"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_retail_sales')]"
			]
		}
	]
}